@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

html {
    background-color: #065400;
    font-family: Mulish , sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}
nav {
    text-align: center;
}
.link {
    background-color: #53EE47;
    border: #53EE47 dashed 5px;
    border-radius: 10px;
    color: #065400;
    width: 10vw;
    height: 10vh;
}
h1 {
    text-align: center;
    background-color:#53EE47;
    height: 8vh;
    color: #065400;
    border-radius: 10px;
}
h2 {
    text-align: center;
    background-color: #53EE47;
    color: #065400;
    font-size: 2rem;
    border-radius: 10px;
}
.Zero-Waste {
    height: 25vh;
    width: 25vw;
}
div {
    text-align: center;
}
p {
    box-sizing: border-box;
    color: #53EE47;
    border: 2px solid #10EB00;
    width: 50vw;
    height: 30vh;
    overflow: auto;
    margin-left: 18%;
}
.Treibhauseffekt {
    height: 30vh;
    width: 25vw;
}
h1 {
    font-family: 'Zen Loop' , cursive;
    font-size: 72px;
}
footer {
    background-color: #53EE47;
    border: 2px solid #10EB00;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 45%;
}
.Null:hover {
    font-weight: bold;
}
.Null:visited {
    color: purple;
}
.Null:active {
    color: yellow;
}